@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.media_socia a {
    border: 1px solid transparent;
    width: 100px;
}
.media_socia {
    background-color: #000000;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ed3b3b;
    width: 100px;
    border: 1px solid transparent;
}
.menu a:hover {
    border-color: #ed3b3b;
    text-align: center;
}
.banner{
    background-image: url(../img/plate.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    text-align: center;
}
h1{
    font-family: 'Nunito', sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.banner p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-align: center;
}
h2{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000000;
    text-align: center
}
h3{
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
.projects-card img {
    max-width: 400px;
    display: block;
    margin: auto;
}
.produckts-card img {
    max-width: 500px;
    display: block;
    margin: auto;
}
.produckts-card {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}
#process {
    background-color: #dbbfbf;
}
#process img {
    max-width: 60px;
    display: block;
    margin: auto;
}
#ouroffer {
    background-image: url(../img/fire.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    text-align: center;
}
#ouroffer img {
    max-width: 500px;
    display: block;
    margin: auto;
}
#ouroffer h2{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-align: center;
}
#ouroffer p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-align: center;
}
#readytoworkwithus {
    background-color: #ed0909;
    text-align: center;
}
#readytoworkwithus h2{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-align: center;
}
#readytoworkwithus p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-align: center;
}
#contackts {
    background-color: #000000;
    text-align: center;
}
#contacktsandmaaps {
    background-color: #000000;
}
#contacktsandmaaps h2{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-align: center;
}
#contacktsandmaaps p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-align: center;



